<div class="w-full h-full">
    <section>
        <header class="w-full h-full flex justify-center items-center relative">
            <video src="../../../assets/prettyplant.mp4" autoplay muted loop class="w-full h-full object-cover"></video>
            <div class="absolute w-full h-full top-0 left-0 bg-black bg-opacity-20 backdrop-blur-sm"></div>
            <h1 class="z-10 font-Fraunces absolute top-[35%] left-1/2 transform -translate-x-1/2 -translate-y-1/2 text-white text-5xl font-medium">We Bring Nature Indoors.</h1>
            <button class="z-10 absolute top-[40%] left-1/2 transform -translate-x-1/2 text-white text-xl font-medium border-solid border-2 border-b rounded-lg pt-5 pb-5 pl-5 pr-5 bg-white bg-opacity-20" (click)="onLogin()">Let's Go </button>
        </header>

    </section>
</div>