.bg-White {
    background-color: #E6DFD1;
}

.bg-Black {
    background-color: #41342d;
}

.bg-Blue {
    background-color: #384B61;
}

.bg-Pink {
    background-color: #E7D5C8;
}

.bg-Red {
    background: #A25A40;
}

.bg-Gray {
    background-color: #646060;
}